body {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: normal;
}

.buttonLabel {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.headline {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: normal;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: normal;
}

#pageTitle {
  color: #005b95;
  text-align: center;
  margin-top: 15%;
}

#divPesquisa {
  margin-top: 1.5%;
  margin-left: 36.5%;
  text-align: center;
  align-items: center;
  align-content: center;
}

#link {
  cursor: pointer;
  color: #005b95;
  text-decoration: underline;
}

#linkLabel {
  margin-top: 2%;
  color: #757575;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding-top: 3%;
  margin-left: 38.5%;
}

#secondTitle {
  float: left;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 0%;
}

#secondDiv {
  float: left;
}

#btn {
  cursor: pointer;
  background-color: white;
  margin-top: 0%;
  margin-left: 1%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 0.8%;
  padding-bottom: 0.8%;
}

#btn:hover {
  background-color: aliceblue;
}

.lista {
  border-style: hidden;
  text-align: justify;
  margin-left: 11.3%;
  background-color: white;
  cursor: pointer;
}

.listItem {
  width: 25%;
  max-width: 227px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#processoAssunto {
  word-wrap: break-word;
}

#assuntoTextArea {
  width: 448.3px;
  resize: none;
  border: none;
  color: #757575;
}

#divInteressados {
  width: 100%;
  column-count: 2;
  -webkit-column-count: 2;
  column-width: 140px;
  -webkit-column-width: 140px;
  column-gap: 100px;
  -webkit-column-gap: 100px;
  text-align: justify;
}

.noneImg {
  margin-right: 1%;
  float: left;
}

#expandImage {
  height: 120px;
}

table {
  color: #757575;
  width: 100%;
}

.outline {
  float: left;
  margin-left: 4%;
  font-size: 16px;
  position: sticky;
  position: -webkit-sticky;
  top: 75px;
  display: inline-block;
  background: #fff;
  border: .009px solid #f2f2f2;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  width: 600px;
  height: 585px;
  overflow: scroll;
  max-width: 100%;
  overflow-x: hidden;
  padding: 20px;
  line-height: 19pt;
  text-align: justify;
  word-break: break-all;
}

#form-dialog-title {
  padding: 0%;
  padding-left: 1%;
}

#dialogTitle {
  color: #212121;
  float: left;
  width: 97.5%;
  margin: 0%;
}

#btnClose {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: white;
  border-color: white;
  border-style: none;
  padding: 0%;
}

#btnSalvar {
  padding-left: 2%;
  padding-right: 2%;
  background-color: #005b95;
  color: #212121;
}


#loading {
  height: 100vmax;
  background-color: white;
}

#divLoading {
  margin-top: 19%;
  margin-left: 27%;
}


#divItem {
  float: left;
  margin: 0%;
  margin-left: 3.7%;
  height: 600px;
}

#divSmallList {
  float: left;
  margin-left: 7.8%;
}

#firstTableItem {
  width: 300px;
}

#nextTableItem {
  text-align: justify;
  width: 400px;
  white-space: nowrap;
}

#btnRemove {
  cursor: pointer;
  background-color: white;
  color: #757575;
  border-color: #757575;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-left: 42%;
  margin-top: 13%;
  width: 150px;
}

#btnEdit {
  margin-left: 3%;
  cursor: pointer;
  background-color: white;
  color: #005b95;
  border-color: #005b95;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 13%;
  width: 150px;
}

#btnRemove:hover,
#btnEdit:hover {
  background-color: aliceblue;
}

#btnSalvar {
  background-color: #005b95;
  color: white;
  cursor: pointer;
  margin-left: 87%;
}

#btnSalvar:hover {
  background-color: #005b85;
}

#btnAdd {
  cursor: pointer;
  color: white;
  margin-left: 2%;
  margin-top: 1.5%;
}

#btnAdd:hover {
  background-color: #757575;
}