.outline {
  float: left;
  margin-left: 3.5%;
  font-size: 16px;
  position: sticky;
  position: -webkit-sticky;
  top: 75px;
  display: inline-block;
  background: #fff;
  border: .009px solid #f2f2f2;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  width: 600px;
  height: 585px;
  overflow: scroll;
  max-width: 100%;
  overflow-x: hidden;
  padding: 20px;
  line-height: 19pt;
  text-align: justify;
}